<h2>{{model.question}}</h2>
<p>asked by {{model.author}}</p>
<p><b>Additional Notes:</b> {{model.additional_notes}}</p>
<h3>Answers</h3>
{{#each model.answers as |answer|}}
  <div class="answer">
    <p>{{answer.author}} says:</p>
    <h4>{{answer.answer}}</h4>
  </div>
{{/each}}

{{new-answer saveAnswer="saveAnswer" question=model}}
<!-- {{edit-question}} -->
